{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}JacketHM{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bundy/css/styles.css' %}">
  <script src="{% static 'bundy/js/scripts.js' %}" defer></script>
  <!-- Inline CSS pro nastavení background image s využitím Django static tag -->
  <style>
    body {
      background: url("{% static 'bundy/bg.png' %}") no-repeat center center fixed;
      background-size: cover;
    }
  </style>
</head>
<body>
  <header>
    {% include 'bundy/menu.html' %}
  </header>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  <footer>
    <p>2025v3.1©Kamisamacz | <a class="instagram" href="https://www.instagram.com/kamsiamacz" target="_blank">Instagram</a></p>
  </footer>
</body>
</html>
