{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}JacketHM{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bundy/css/styles.css' %}">
  <script src="{% static 'bundy/js/scripts.js' %}" defer></script>
</head>
<body>
  <header>
    {% include 'bundy/menu.html' %}
  </header>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <p>2025©v.2 Kamisamacz | <a href="https://www.instagram.com/kamisamacz" target="_blank">Instagram</a></p>
  </footer>
</body>
</html>
