{% extends 'bundy/base.html' %}

{% block title %}Vymazat bundu{% endblock %}

{% block content %}
<center>
  <h1>Vymazat bundu</h1>
  <div style="width: 80%; max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; font-family: Arial, sans-serif;">
    <p>Opravdu chcete vymazat bundu <strong>"{{ object }}"</strong>?</p>

    <!-- Náhled bundy -->
    <div style="margin: 20px 0; display: flex; justify-content: center;">
      <div style="display: inline-block; padding: 10px; background-color: {{ object.color }}; border-radius: 10px;">
        <img src="{{ object.get_image_url }}" alt="{{ object.typ }}" style="max-width: 250px; max-height: 250px;">
      </div>
    </div>

    <form method="post">
      {% csrf_token %}
      <button type="submit" style="display: inline-block; background-color: #f44336; color: white; padding: 10px 15px; border: none; border-radius: 5px; text-decoration: none; margin: 5px;">Ano, vymazat</button>
    </form>
    <div style="margin-top: 20px;">
      <a href="{% url 'jacket-detail' object.id %}" style="display: inline-block; background-color: #4CAF50; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none; margin: 5px;">Zrušit</a>
    </div>
  </div>
</center>
{% endblock %}
